@{
    ViewData["Title"] = "SOOOLSOOLFOORI Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="pri" style="font-weight:300;">
    <p>Effective December 15, 2022. Last Revised November 15, 2022.</p>

    <p>At SOOLSOOLFOORI, we believe that privacy is a right. We want to empower our users to be the masters of their identity. In this privacy policy, we want to help you understand how and why SOOLSOOLFOORI, Inc. ("SOOLSOOLFOORI,” "we” or "us”) collects, uses, and shares information about you when you use our sites, mobile apps, widgets, and other online products and services (collectively, the "Services") or when you otherwise interact with us or receive a communication from us.</p>

    <p>We collect minimal information that can be used to identify you by default. If you want to just browse, you don't need an account. If you want to create an account to participate in a subreddit, we don't require you to give us your real name. We don't automatically track your precise location. You can share as much or as little about yourself as you want. You can create multiple accounts, update information as you see fit, or ask us to delete your information.</p>

    <p>Any data we collect is used primarily to provide our services, which are focused on allowing people to come together and form communities, the vast majority of which are public. If you have questions about how we use your data, you can always ask us for more information.</p>

</div>




