@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p style="font-size:3em; margin-top:100px; font-weight:700;">Login Success!</p>