@{
    ViewData["Title"] = "MainPage";
}

<body class="main">
    <div class="index">
        <div class="text-center">
            <h1 class="display-5">
                Welcome To <br />
                <yellow>SOOLSOOLFOORI</yellow>
            </h1>
            Welcome to <strong>SOOLSOOLFOORI</strong> a community
            <br />
            where you can talk about
            <strong>Korean Alcoholic drinks</strong> with people.
        </div>
    </div>
</body>